---
import NewsPaper from "../icons/NewsPaper.astro";
import Link from "../icons/Link.astro";
// Define props from Astro
const { title, subtitle, image1, image2, image3, head1, head2, head3, content1, content2, content3, url1, url2, url3 } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subtitle?: string;
  image1: string;
  image2: string;
  image3: string;
  head1: string;
  head2: string;
  head3: string;
  content1: string;
  content2: string;
  content3: string;
  url1: string;
  url2: string;
  url3: string;
}
---

<section class="bg-neutral-300 dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-3xl font-bold text-gray-800 capitalize lg:text-4xl dark:text-white"
    >
      {title} <span class="underline decoration-red-500">{subtitle}</span>
    </h1>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3 AnimateOpacityScale"
    >
      <div class="relative group">
        <!-- Imagen de fondo -->
        <div
          class="absolute inset-0 bg-cover bg-no-repeat bg-center rounded-2xl filter group-hover:blur-sm group-hover:opacity-60"
          style={image1}
        >
        </div>

        <!-- Contenido -->
        <div
          class="relative p-8 space-y-3 border-2 border-red-400 dark:border-red-300 rounded-xl opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out"
        >
          <span class="inline-block">
            <NewsPaper clases="w-12 h-12 text-red-500 dark:text-red-400"/>
          </span>

          <h1
            class="text-2xl font-bold text-neutral-900 capitalize dark:text-white"
          >
            {head1}
          </h1>

          <p class="text-neutral-900 dark:text-gray-300 font-bold">
            {content1}
          </p>

          <a
            href={url1}
            class="inline-flex p-2 text-red-500 capitalize transition-colors duration-200 transform bg-red-100 rounded-full dark:bg-red-500 dark:text-white hover:underline hover:text-red-600 dark:hover:text-red-500"
          >
          <Link clases="w-6 h-6 text-red-500"/>
          </a>
        </div>
      </div>
      <!--  -->
      <div class="relative group">
        <!-- Imagen de fondo -->
        <div
          class="absolute inset-0 bg-cover bg-no-repeat bg-center rounded-2xl filter group-hover:blur-sm group-hover:opacity-60"
          style={image2}
        >
        </div>

        <!-- Contenido -->
        <div
          class="relative p-8 space-y-3 border-2 border-red-400 dark:border-red-300 rounded-xl opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out"
        >
          <span class="inline-block text-red-500 dark:text-red-400">
            <span class="inline-block">
              <NewsPaper clases="w-12 h-12 text-red-500 dark:text-red-400"/>
            </span>
          </span>

          <h1
            class="text-2xl font-bold text-neutral-900 capitalize dark:text-white"
          >
            {head2}
          </h1>

          <p class="text-neutral-900 dark:text-gray-300 font-bold">
            {content2}
          </p>

          <a
            href={url2}
            class="inline-flex p-2 text-red-500 capitalize transition-colors duration-200 transform bg-red-100 rounded-full dark:bg-red-500 dark:text-white hover:underline hover:text-red-600 dark:hover:text-red-500"
          >
          <Link clases="w-6 h-6 text-red-500"/>
          </a>
        </div>
      </div>
      <!--  -->
      <div class="relative group">
        <!-- Imagen de fondo -->
        <div
          class="absolute inset-0 bg-cover bg-no-repeat bg-center rounded-2xl filter group-hover:blur-sm group-hover:opacity-60"
          style={image3}
        >
        </div>

        <!-- Contenido -->
        <div
          class="relative p-8 space-y-3 border-2 border-red-400 dark:border-red-300 rounded-xl opacity-0 group-hover:opacity-100 transition duration-300 ease-in-out"
        >
          <span class="inline-block text-red-500 dark:text-red-400">
            <span class="inline-block">
              <NewsPaper clases="w-12 h-12 text-red-500 dark:text-red-400"/>
            </span>
          </span>

          <h1
            class="text-2xl font-bold text-neutral-900 capitalize dark:text-white"
          >
            {head3}
          </h1>

          <p class="text-neutral-900 dark:text-gray-300 font-bold">
            {content3}
          </p>

          <a
            href={url3}
            class="inline-flex p-2  capitalize transition-colors duration-200 transform bg-red-100 rounded-full dark:bg-red-500 dark:text-white hover:underline hover:text-red-600 dark:hover:text-red-500"
          >
            <Link clases="w-6 h-6 text-red-500"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
